.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7; 
  }
  .dropdown-item{
    color: #6D8092 ; 
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 ; 
  }
  .nav-link:hover{
    background-color:#E7E7E7 ;
   }
   tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.button {
    border: none;
    color: white;
    position: absolute; left: 50%; top:50%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
    
.button1 {background-color: teal;text-decoration: white; } 
 
 